language: python

python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5

matrix:
  include:
    - python: 2.7
    - FLASK="<0.10"

install:
  - pip install flask$FLASK
  - pip install pytest coverage coveralls
  - python setup.py install

script:
  - coverage run --source=flask_sqlalchemy_cache setup.py test

after_success:
  - coveralls
